<%- include("partials/header"); -%>

        <div class="content-wrapper">
          <div class="container">
            <div class="col-sm-12">
              <div class="card" data-aos="fade-up">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <h1 class="font-weight-600 mb-4">
                        LOCAL
                      </h1>
                    </div>
                  </div>
    <%  news.forEach(function(news){ %>

      <a href="/news/<%= news._id %> " style="text-decoration: none; color: black; "><div class="row">
        <div class="col-sm-4 grid-margin">
          <div class="rotate-img">
            <img
            src="http://localhost:3000/photo/<%= news.photo %>"
              alt="banner"
              class="img-fluid"
            />
          </div>
        </div>
        <div class="col-sm-8 grid-margin">
          <h2 class="font-weight-600 mb-2"><%= news.title %> </h2>
          <p class="fs-13 text-muted mb-0">
            <span class="mr-2">Photo </span>10 Minutes ago
          </p>
          <p class="fs-15"><%= news.content.substring(0, 330) + " ..." %> 
          </p>
        </div>
      </div></a>
<% }) %>
                </div>
              </div>
            </div>
          </div>
        </div>
       

<%- include("partials/footer"); -%>
